---
import Layout from '../layouts/Layout.astro';
import Card from '../layouts/Card.astro';
import { getCollection } from 'astro:content';
const posts = await getCollection('posts');
let sortedPosts =  posts.sort((a,b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
---

<Layout title = "Counting Reals" description=''>
	<p class="text-2xl mb-2">Posts ({posts.length})</p>
  {sortedPosts.map(e =>
	 <a href=`/${e.id}` class="no-underline">
		 <Card hover={true} shadow={true}>
	   <h1 class="font-bold mt-2">{e.data.title}</h1>
	   <time datetime={e.data.pubDate.toISOString()}>{e.data.pubDate.toLocaleDateString()}</time>
	   <p class="my-2">{e.data.description}</p>
	  </Card>
	 </a>
	 )}
</Layout>
